.NavBar {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: 1.8rem;
}

.card-content {

}

.event-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
}

.event-date {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.event-description {
    font-style: italic;
}

.countdown {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}